# Auto detect text files and perform LF normalization
* text=auto

# JS and TS files must always use LF for tools to work
*.js text eol=lf
*.jsx text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.json text eol=lf

# CSS files must always use LF for tools to work
*.css text eol=lf
*.scss text eol=lf
*.sass text eol=lf

# HTML files must always use LF for tools to work
*.html text eol=lf

# Documents
*.md text eol=lf
*.txt text eol=lf

# Graphics
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text

# Exclude files from exporting
.gitattributes export-ignore
.gitignore export-ignore
.gitkeep export-ignore 